<head>
  <link rel="stylesheet" href="/static/css/generic.css"}>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id='app'>
  <h1 v-if='follows.length>0'>Actual Followers</h1>
      <div v-for='f in follows'>
        {{ f.name }}
      </div>
    <h1 v-if='propolsal.length>0'>Want to Followers</h1>
      <div class='card' v-for='p in propolsal'>
        {{ p.name }}
      </div>

</div>


<script >
Vue.component('view-card',

)
app = new Vue({
  el:'#app',
  data(){
    return {
    'follows':[],
     'propolsal':[]   
      }
    },
  mounted(){
    axios.get('/api_follow').then(res=>{
        this.follows = res.data.follows;
        this.propolsal = res.data.propolsal;
        this.user =res.data.user}
    )
    }

  })
</script>
