<head>
  <link rel="stylesheet" href="/static/css/generic.css"}>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id='app'>
  <bar></bar>
  <h1 v-if='follows.length>0'>Actual Follow</h1>
      <div v-for='f in follows' align='center'>
        <card v-bind:m=m></card>
      </div>
  <blockcards 
    :list='follows' 
    :name_button='"a"'
    :click='f'
    ></blockcards>  

  <h1 v-if='propolsal.length>0'>Want to Follow</h1>
  <blockcards 
    :list='propolsal' 
    :name_button='"append"'
    :click='f'
    ></blockcards> 
</div>
<script src='./static/components/card.js'> </script>
<script src='./static/components/block_cards.js'> </script>
<script src='./static/components/bar.js'> </script>

<script src='./static/components/follow.js'></script>
</script>
