<head>
  <link rel="stylesheet" href="/static/css/generic.css"}>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id='app'>
  <bar></bar>
  <h1 v-if='follows.length>0'>Actual Followers</h1>
      <div v-for='f in follows'>
        <card v-bind:m=m></card>
      </div>
    <h1 v-if='propolsal.length>0'>Want to Followers</h1>
      <div v-for='m in  propolsal '>
          <card v-bind:m='m' v-bind:click='f' v-bind:nam='"append"'
          ></card>
      </div>
</div>
<script src='./static/components/card.js'> </script>
<script src='./static/components/bar.js'> </script>

<script >
app = new Vue({
  el:'#app',
  data(){
    return {
    'follows':[],
     'propolsal':[]   
      }
    },
  methods:{
    f(m){
      alert(m)}
  },
  mounted(){
    axios.get('/api_follow').then(res=>{
        this.follows = res.data.follows;
        this.propolsal = res.data.propolsal;
        this.user =res.data.user}
    )
    }

  })
</script>
